<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<html>
<style>
	button{
	   color: black;
	   background-color: rgb(150,175,200);
	   padding: 15px 32px;
	   display:block;
	   font-size: 20px;
	   margin: auto;
	   transition-duration: 0.4s;
	}
	button:hover{
	   background-color: #DCDCDC;
	}

</style>
    <script type="text/javascript">
    var canvas, ctx, flag = false,
        prev_x = 0, cur_x = 0, prev_y = 0, cur_y = 0,
        dot_flag = false;

    var x = "black",
        y = 2;
    
    function init(){
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function(e){
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function(e){
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function(e){
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function(e){
            findxy('out', e)
        }, false);
    }
    
    function color(obj){
        switch(obj.id){
            case "black"://for black pen
                x = "black";
                break;
            case "white"://for erasing
                x = "white";
                break;
        }
       if(x == "white"){
	  y = 14;
       }else{
	  y = 2;
       }
    
    }
    
    function draw(){
        ctx.beginPath();//start drawing
        ctx.moveTo(prev_x, prev_y);
        ctx.lineTo(cur_x, cur_y);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();//end drawing
    }
    
    function erase(){
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasing").style.display = "none";
    }
    
    function save(){
        document.getElementById("canvasing").style.border = "2px solid";
        var dataURL = canvas.toDataURL();
        document.getElementById("canvasing").src = dataURL;
        document.getElementById("canvasing").style.display = "inline-block";
    }
    
    function findxy(cursor, e){
        if(cursor == "down"){
            prev_x = cur_x;
            prev_y = cur_y;
            cur_x = e.clientX - canvas.offsetLeft;
            cur_y = e.clientY - canvas.offsetTop;
            flag = true;
            dot_flag = true;
            if(dot_flag){
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(cur_x, cur_y, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if(cursor== "up" || cursor == "out"){
            flag = false;
        }
        if(cursor == 'move'){
            if(flag){
                prev_x = cur_x;
                prev_y = cur_y;
                cur_x = e.clientX - canvas.offsetLeft;
                cur_y = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    </script>
    <body onload="init()">
        <canvas id="can" width="400" height="400" style="position:absolute;top:10%;left:10%;border:4px solid;"></canvas>
        <div style="position:absolute;top:12%;left:5.5%;">Pen</div>
	<div style="position:absolute;top:16%;left:6%;width:15px;height:15px;background:black;" id="black" onclick="color(this)"></div>

        <div style="position:absolute;top:20%;left:5%;">Eraser</div>
        <div style="position:absolute;top:24%;left:6%;width:15px;height:15px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
        <img id="canvasing" style="position:absolute;top:10%;left:52%;" style="display:none;">
        <input type="button" value="check" id="btn" size="30" onclick="save()" style="background-color: rgb(150,175,200);padding: 15px 32px; display:block; font-size:20px; transition-duration:0.4s;top:69%;left:12%;position:absolute;">
        <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="background-color: rgb(150,175,200);padding: 15px 32px; display:block; font-size:20px; transition-duration:0.4s;top:69%;left:26%;position:absolute;">
    </body>
{% endblock %}
</html>
