<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<html>
<style>
h2{
    font-family: 'Trebuchet MS', sans-serif;
    background-position: center;
    text-align: center;
    font-size: 2em;
}
h3{
    font-family: 'Trebuchet MS', sans-serif;
    background-position: center;
    text-align: center;
    font-size: 14em;
    margin-right: 93%;
}
h5 {
    font-family: 'Trebuchet MS', sans-serif;
    background-position: center;
    text-align: center;
    font-size: 4em;
}
	input{
	   color: black;
	   background-color: rgb(150,175,200);
	   padding: 12px 22px;
	   font-size: 20px;
	   transition-duration: 0.4s;
	}
	button:hover{
	   background-color: #DCDCDC;
	}

</style>
    <script type="text/javascript">
   var english = ['b', 'p', 'm', 'f', 'd', 't', 'n', 'l', 'g', 'k', 'h','j','q','x','zh','ch','sh','r','z','c','s','a','o','e','eh','ai','ei','au','ou','an','en','ang','eng','er','y','u','yu'];
    var alphabet = ['ㄅ','ㄆ','ㄇ','ㄈ','ㄉ','ㄊ','ㄋ','ㄌ','ㄍ','ㄎ','ㄏ','ㄐ','ㄑ','ㄒ','ㄓ','ㄔ','ㄕ','ㄖ','ㄗ','ㄘ','ㄙ','ㄚ','ㄛ','ㄜ','ㄝ','ㄞ','ㄟ','ㄠ','ㄡ','ㄢ','ㄣ','ㄤ','ㄥ','ㄦ','ㄧ','ㄨ','ㄩ'];	
	var random1 = Math.floor(Math.random()*english.length);
	//document.getElementById("letter").innerHTML=english[random1];
	document.write("<h5>Draw and Compare</h5>");
	document.write('<h2>Draw the Mandarin letter pronounced "' + english[random1] + '".</h2>');



    var canvas, ctx, flag = false,
        prev_x = 0, cur_x = 0, prev_y = 0, cur_y = 0,
        dot_flag = false;

    var x = "black",
        y = 2;
    
    function init(){
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function(e){
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function(e){
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function(e){
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function(e){
            findxy('out', e)
        }, false);
    }
    
    function color(obj){
        switch(obj.id){
            case "black"://for black pen
                x = "black";
                break;
            case "white"://for erasing
                x = "white";
                break;
        }
       if(x == "white"){
	  y = 14;
       }else{
	  y = 2;
       }
    
    }
    
    function draw(){
        ctx.beginPath();//start drawing
        ctx.moveTo(prev_x, prev_y);
        ctx.lineTo(cur_x, cur_y);
        ctx.strokeStyle = x;
        ctx.lineWidth = 10;
        ctx.stroke();
        ctx.closePath();//end drawing
    }
    
    function erase(){
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasing").style.display = "none";
       	    document.getElementById("answer").style.display="none";
    }
    
    function save(){
        document.getElementById("answer").style.border = "2px solid";
       var dataURL = alphabet[random1];
        document.getElementById("answer").innerHTML= dataURL;
       document.getElementById("answer").style.width = "400px";
       document.getElementById("answer").style.height= "400px";
       document.getElementById("answer").style.position="absolute";
       document.getElementById("answer").style.top="27%";
       document.getElementById("answer").style.left="52%";
       document.getElementById("answer").style.display = "inline-block";

  //     var image2 = english[random1] + ".png";

       //compare accuracy
   //    var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
      // window.location.href=image;
    //   var diff = resemble(image).compareTo(image2).onComplete(function(){
//	  return data;
 //      });
  //     window.location.href = diff;
    }
    
    function findxy(cursor, e){
        if(cursor == "down"){
            prev_x = cur_x;
            prev_y = cur_y;
            cur_x = e.clientX - canvas.offsetLeft;
            cur_y = e.clientY - canvas.offsetTop;
            flag = true;
            dot_flag = true;
            if(dot_flag){
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(cur_x, cur_y, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if(cursor== "up" || cursor == "out"){
            flag = false;
        }
        if(cursor == 'move'){
            if(flag){
                prev_x = cur_x;
                prev_y = cur_y;
                cur_x = e.clientX - canvas.offsetLeft;
                cur_y = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
    </script>
    <body onload="init()">
        <canvas id="can" width="396" height="396" style="border:2px solid;margin-left:18%;"></canvas>
        <div style="margin-left: 5%;">Pen</div>
	<div id="black" onclick="color(this)" style="margin-left: 5%;width:15px;height:15px;background:black"></div>

        <div style="margin-left: 5%;" >Eraser</div>
        <div id="white" onclick="color(this)" style="margin-left:5%; width:15px; height:15px; background:white;border:2px solid;"></div>
        <img id="canvasing" style="position:absolute;top:27%;left:54%;">
	<h3 id="answer"></h3>
        <input style="margin-left:34%;" type="button" value="redraw/clear" id="clr" size="23" onclick="erase()" >
        <input type="button" value="check" id="btn" size="30" onclick="save()" >
		
	<input type="button" value="another one" onclick="window.location.reload();">
    </body>
{% endblock %}
</html>
