
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<html>
<style>
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    background-position: center;
    text-align: center;
}
button {
  color: black;
  background-color: rgb(150,175,200);
  padding:15px 32px;

  display: block;
  font-size: 20px;
  margin-left: 2%;
}
</style>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
	<h1> Guess the Letter </h1>
	<h4 id="question"> Type the english translation for <text id="letter"></text>.</h4>
	<div id="change">
		<input type="text" id="input"/><button onclick="submit1()">Submit</button>
	</div>
	<h4 id="solution"></h4>
	<h4 id="button1"></h4>


<script>
	var english = ['b', 'p', 'm', 'f', 'd', 't', 'n', 'l', 'g', 'k', 'h','j','q','x','zh','ch','sh','r','z','c','s','a','o','e','eh','ai','ei','au','ou','an','en','ang','eng','er','y','u','yu'];
	var alphabet = ['ㄅ','ㄆ','ㄇ','ㄈ','ㄉ','ㄊ','ㄋ','ㄌ','ㄍ','ㄎ','ㄏ','ㄐ','ㄑ','ㄒ','ㄓ','ㄔ','ㄕ','ㄖ','ㄗ','ㄘ','ㄙ','ㄚ','ㄛ','ㄜ','ㄝ','ㄞ','ㄟ','ㄠ','ㄡ','ㄢ','ㄣ','ㄤ','ㄥ','ㄦ','ㄧ','ㄨ','ㄩ'];
	var random1 = Math.floor(Math.random()*alphabet.length);
	
	function submit1(){
		var b = input.value;
		if(random1<37 && b==english[random1]){
			document.getElementById("solution").innerHTML="Correct!";
			document.getElementById("button1").innerHTML="<button onclick=buttons()>Next</button>";
			document.getElementById("change").innerHTML="";
		}else{
			document.getElementById("solution").innerHTML = "Incorrect";
			document.getElementById("button1").innerHTML="<button onclick=buttons()>Next</button>";
			document.getElementById("change").innerHTML="";
		}

	}
			document.getElementById("letter").innerHTML=alphabet[random1];
	function buttons(){
			random1 = Math.floor(Math.random()*alphabet.length);
		document.getElementById("letter").innerHTML=alphabet[random1];
		document.getElementById("button1").innerHTML="";
		document.getElementById("change").innerHTML= "<input type=text id=input /><button onclick=submit1()>Submit</button>";
		document.getElementById("solution").innerHTML="";
	}
	
</script>
{% endblock %}
</html>
