<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


<html>
  <script src="{% static "css/foundation.css" %}"></script>
<head>

</head>
<style>

.logo {
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 40%;
}

</style>

<!--Logo-->
<div class="logo">
	<img src="{% static "images/logo.jpg" %}"/>
</div>


<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("ys"); //toggle between showing what is behind the collapsible
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>







<!-- Form Goes Here-->


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}


</html>
