
<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<html>
<style>
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    background-position: center;
    text-align: center;
}
</style>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
	<h1> Mix and Match </h1>
	<p id="mixandmatch"></p>


<script>
	var english = ['b', 'p', 'm', 'f', 'd', 't', 'n', 'l', 'g', 'k', 'h','j','q','x','zh','ch','sh','r','z','c','s','a','o','e','eh','ai','ei','au','ou','an','en','ang','eng','er','y','u','yu'];
	var alpha;
	var html = " ";
	var iter=12549;
	var iter2=3105;
	document.write(english[3]);
	document.getElementById("mixandmatch").innerHTML = english;
	
	
	

var data = {
    terms: [{
        index: 0,
        text: "SalesWay"
      }, {
        index: 1,
        text: "Red Flags"
      }, {
        index: 2,
        text: "Coach"
      }, {
        index: 3,
        text: "Single Sales Objective"
      }, {
        index: 4,
        text: "Opportunity Plan"
      }, {
        index: 5,
        text: "Minimum Acceptable Action"
      },
    ],
    definitions: [{
        index: 0,
        text: "SalesWay MSI Go-to-Customer Methodology"
      }, {
        index: 1,
        text: "Indicate unknowns or uncertainties"
      }, {
        index: 2,
        text: "Acts as a guide"
      }, {
        index: 3,
        text: "Objective aligned to an opportunity"
      }, {
        index: 4,
        text: "Strategic in nature"
      }, {
        index: 5,
        text: "Your walk away point"
      },
    ],
 pairs: {
      0: 0,
      1: 1,
      2: 2,
      3: 3,
      4: 4,
      5: 5,
    }
  };

				
	document.getElementById("printAlph").innerHTML = s1;
</script>

{% endblock %}
</html>
